@using System
@using Sandbox
@using ShartCoding.GameMaker
@using ShartCoding.GameMaker.Engine
@using ShartCoding.UI.CodeTypePanels
@inherits Sandbox.UI.Panel

<root class="window window-column">
	<div class="row" style="gap: 5px">
		<h4 style="flex-grow: 1">Actor "@Actor.Name"</h4>
	</div>
	
	<FunctionPanel Function="@Actor.CodeObject.Functions["Tick"]"/>
</root>

<style>
	ActorPanel {
		gap: 10px;
	}
</style>

@code {

	public ActorTemplate Actor { get; set; }

	protected override int BuildHash() => HashCode.Combine( Actor );

}
