.window {
  gap: 5px;
  
  padding: 20px;
  border-radius: 10px;
  
  color: white;
  background-color: rgba(34, 34, 34, 0.99);

  opacity: 0.5;

  &.trim-blue {
    // TODO: https://github.com/Facepunch/sbox-issues/issues/3649
    //box-shadow: inset #2798e5 0 0 20px 0;
    box-shadow: 0 0 20px 0 #2798e5;
  }

  &.trim-green {
    //box-shadow: inset #56c750 0 0 20px 0;
    box-shadow: 0 0 20px 0 #56c750;
  }

  &.trim-red {
    //box-shadow: inset #c75050 0 0 20px 0;
    box-shadow: 0 0 20px 0 #c75050;
  }
  
  &.pointer-events {
    pointer-events: all;
    opacity: 1;
  }
  
  &.window-center {
    justify-content: center;
    align-items: center;
  }
  
  &.window-column {
    flex-direction: column;
    flex-wrap: nowrap;
    
    justify-content: flex-start;
    align-items: stretch;
  }
  
  .header {
    flex-shrink: 0;

    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;

    height: 32px;
    max-height: 32px;
    min-height: 32px;
  }
}

.pointer-events .window {
  pointer-events: all;
  opacity: 1;
}

button, .button {
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

  padding: 8px;
  border-radius: 8px;

  background-color: #2798e5;
  color: white;
  
  min-width: 100px;
  
  &.square {
    aspect-ratio: 1;
    min-width: 32px;
    
    padding: 0;
  }

  &:hover {
    background-color: #4cb1ff;
  }

  &:active {
    background-color: #2284c7;
  }
  
  &.accent {
    font-weight: bold;
    
    background-color: #56c750;

    &:hover {
      background-color: #61e35b;
    }

    &:active {
      background-color: #49a844;
    }
  }

  &.danger {
    font-weight: bold;

    background-color: #c75050;

    &:hover {
      background-color: #e35b5b;
    }

    &:active {
      background-color: #a84444;
    }
  }
}

.button-group {
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 4px;
  
  border-radius: 8px;
  
  overflow: hidden;
  
  button {
    border-radius: 0;
  }
}

h1 {
  font-size: 64px;
  font-weight: bold;
}

h2 {
  font-size: 48px;
  font-weight: bold;
}

h3 {
  font-size: 32px;
  font-weight: bold;
}

h4 {
  font-size: 24px;
  font-weight: bold;
}

h5 {
  font-size: 20px;
  font-weight: bold;
}

.hr {
  width: 100%;
  
  margin-top: 5px;
  margin-bottom: 5px;
  
  border: rgb(255, 255, 255, 0.5) solid 1px;
}

.row {
  flex-direction: row;
  flex-wrap: nowrap;
}

.column {
  flex-direction: column;
  flex-wrap: nowrap;
}

.hidden {
  display: none;
}

.codeblock {
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;
  
  background-color: #518DDB;
  color: white;
  
  border-radius: 5px;
  
  padding: 5px;
}

.typepanel {
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 5px;

  background-color: rgba(0, 0, 0, 0.25);
  color: white;

  border-radius: 5px;

  padding: 5px;
}