@using Sandbox.UI
@using ShartCoding.ShartCode
@using ShartCoding.ShartCode.CodeBlocks
@namespace ShartCoding.UI.CodeBlockPanels
@inherits AbstractCodeBlockPanel

<root class="codeblock">
	Spin
	<span class="block typepanel">Speed: <TextEntry Numeric Text="@( $"{_spinBlock.Speed}" )" OnTextEdited="@( SetSpeed )"></TextEntry></span>
</root>

@code
{
	public override ShartCodeBlock Block { get; set; }

	private SpinBlock _spinBlock => Block as SpinBlock;

	private void SetSpeed( string speedString )
	{
		_spinBlock.Speed = float.Parse( speedString );
	}
}
